nextcord==2.2.0
python-dotenv==0.21.0
googlesearch-python==1.1.0
beautifulsoup4==4.9.3
google-api-python-client==2.70.0
google-auth-httplib2==0.1.0
google-auth-oauthlib==0.5.3
dateparser==1.1.5
pyluach==1.4.2
thefuzz==0.19.0
python-Levenshtein==0.20.9
more-itertools==9.0.0
markdown==3.4.1
markdownify==0.11.6
lxml==4.9.1
asyncpg==0.27.0