discord.py==1.7.1
discord-py-slash-command==1.1.2
python-dotenv==0.17.0
googlesearch-python==2020.0.2
beautifulsoup4==4.9.1
psycopg2-binary==2.8.6
google-api-python-client==2.2.0
google-auth-httplib2==0.1.0
google-auth-oauthlib==0.4.4
dateparser==1.0.0
pyluach==1.2.1
fuzzywuzzy==0.18.0
python-Levenshtein==0.12.2
more-itertools==8.7.0
markdown==3.3.4
markdownify==0.7.0
lxml==4.6.3