discord.py==1.7.3
discord-py-slash-command==3.0.1
python-dotenv==0.20.0
googlesearch-python==1.1.0
beautifulsoup4==4.9.3
google-api-python-client==2.57.0
google-auth-httplib2==0.1.0
google-auth-oauthlib==0.5.2
dateparser==1.1.1
pyluach==1.4.2
fuzzywuzzy==0.18.0
python-Levenshtein==0.12.2
more-itertools==8.13.0
markdown==3.3.7
markdownify==0.11.2
lxml==4.9.1
asyncpg==0.26.0